<template>
  <section :class="['hero', 'is-primary', getStyleClassByTemperature(weather.highTemperature)]">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"><i>Today's temperature</i></h1>
        <h1 class="title">{{ title || '' }}</h1>
        <h1 class="title"> High: {{ weather.highTemperature | round }}</h1>
        <h1 class="title"> Low: {{ weather.lowTemperature | round }}</h1>
      </div>
    </div>
  </section>
</template>

<script>
import weathersMixin from "../../../mixins/weathers.mixin";

export default {
  props: {
    title: String,
    weather: Object
  },
  mixins: [weathersMixin]
};
</script>
