<template>
  <div class="tabs is-centered is-boxed">
    <ul>
      <li
        v-for="provider in providers"
        :key="provider.id"
        @click="$emit('on-provider-selected', provider.keyName)"
        :class="[currentTab == provider.keyName ? 'is-active' : '']"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-image" aria-hidden="true"></i>
          </span>
          <span>{{ provider.title }}</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    providers: Array,
    currentTab: String
  }
};
</script>

