<template>
  <div class="columns">
    <WeathersListItem
      v-for="weather in weathers"
      :key="weather.id"
      :weather="weather"
      :isLoading="isLoading"
    />
  </div>
</template>

<script>
import WeathersListItem from "./weathers.list.item";

export default {
  props: {
    weathers: Array,
    isLoading: Boolean
  },
  components: { WeathersListItem }
};
</script>
