<template>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{ weather.shortDate }}</p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div :class="['card-content', getStyleClassByTemperature(weather.highTemperature)]">
        <div class="content">
            <p> High Temp: {{ weather.highTemperature | round }} </p>
            <p> Low Temp: {{ weather.lowTemperature | round }} </p>
        </div>
      </div>
      <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false">
        <b-icon pack="fas" icon="sync-alt" size="is-large" custom-class="fa-spin"/>
      </b-loading>
    </div>
  </div>
</template>

<script>
import weathersMixin from "../../../mixins/weathers.mixin";

export default {
  props: {
    weather: Object,
    isLoading: Boolean
  },
  mixins: [weathersMixin]
};
</script>

<style scoped>
.card-content {
  color: white;
}

.card-header-title {
  margin-left: 30%;
}
</style>

