<template>
  <div>
    <WeathersTabsHero :title="locationTitle" :weather="mainWeather"/>

    <WeathersTabsMenu
      :currentTab="currentTab"
      :providers="providers"
      @on-provider-selected="onProviderOptionClick"
    />

    <WeathersTabContent>
      <WeathersList :isLoading="isLoading" :weathers="weathers"/>
    </WeathersTabContent>
  </div>
</template>

<script>
import WeathersList from "../components/weathers/list/weathers.list";
import WeathersTabContent from "../components/weathers/tabs/weathers.tabs.content";
import WeathersTabsHero from "../components/weathers/tabs/weathers.tabs.hero";
import WeathersTabsMenu from "../components/weathers/tabs/weathers.tabs.menu";
import axios from "axios";
import { mapState } from "vuex";

export default {
  components: {
    WeathersList,
    WeathersTabsHero,
    WeathersTabContent,
    WeathersTabsMenu
  },
  computed: {
    ...mapState({
      providers: state => state.weather.providers
    })
  },
  created() {},
  data: () => {
    return {
      locationTitle: "Loading...",
      isLoading: true,
      weathers: [],
      currentTab: "",
      mainWeather: { title: "Loading...", highTemperature: 0.00, lowTemperature: 0.00 },
      coordinates: { latitude: 1, longitude: 1 }
    };
  },
  mounted() {
    window.navigator.geolocation.getCurrentPosition(
      position => {
        const { latitude, longitude } = position.coords;

        this.coordinates.latitude = latitude;
        this.coordinates.longitude = longitude;

        if (this.currentTab == "" && this.providers.length > 0) {
          this.onProviderOptionClick(this.providers[0].keyName);
        }
      },
      error => {
        this.$toast.open({
          duration: 5000,
          message: `Please give us access to your location and reload the page :)`,
          position: "is-bottom",
          type: "is-danger"
        });
      }
    );
  },
  methods: {
    getWeathersByCoordinates(providerKeyName, latitude, longitude) {
      this.isLoading = true;

      // TODO: Move baseUrl to a env variable or constant
      axios
        .get(
          `https://localhost:44336/api/weather/${providerKeyName}/${latitude}/${longitude}`
        )
        .then(res => {
          this.locationTitle = res.data.location;
          this.mainWeather = res.data.weathers.shift();
          this.weathers = res.data.weathers;
          this.isLoading = false;
        })
        .catch(error => {
          this.locationTitle = "Unavailable";
        });
    },
    onProviderOptionClick(providerKeyName) {
      this.locationTitle = "Loading ...";
      this.currentTab = providerKeyName;
      this.getWeathersByCoordinates(
        providerKeyName,
        this.coordinates.latitude,
        this.coordinates.longitude
      );
    }
  }
};
</script>

<style>
#app {
  margin-top: 50px !important;
}
</style>

