<template>
  <div id="app">
    <NavBar />
    <router-view />
  </div>
</template>

<script>

import NavBar from './components/shared/navbar/navbar.vue'

export default {
  name: 'app',
  components: { NavBar },
}
</script>

<style>
 #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} 

 /* TODO:  Use better colors for representing temperature values  */

.cold-temp {
  background: skyblue !important;
}

.warm-temp {
  background: yellow !important;
}

.hot-temp {
  background: red !important;
}

</style>
