<template>
    <router-link class="navbar-item" :to="linkTo" >
        {{ text }}
    </router-link>
</template>

<script>
export default {
    props: {
        text: String,
        linkTo:String
    }
}
</script>
