<template>
  <nav class="navbar is-dark is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="../../../assets/logo-belatrix.png" width="112" height="28">
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="main-navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="main-navbar" class="navbar-menu">
      <div class="navbar-start">
        <nav-bar-item v-for="item in items" :key="item.id" :text="item.text" :linkTo="item.to"/>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <figure class="image is-48x48">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <b-button @click="logout" class="button is-light">Logout</b-button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import NavBarItem from "./nabvar.item.vue";

export default {
  components: { NavBarItem },
  data() {
    return {
      items: [
        { id: 1, text: "Home", to: "/" },
        { id: 2, text: "Weathers", to: "/weathers" }
      ]
    };
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout(event) {
        console.log("we should logout here");
    }
  }
};
</script>

<style>
.navbar-item img {
  max-height: 64px !important;
}
</style>

